/*----------------------------- Colors ----------------------------------------*/

:root 
{
	--midnight-color: #0e2453;
	--lochmara-color: #2e6a9d;
	--bitter: #f97c5c;
	--amaranth: #ea2a4f;
}

.test
{
	color: white;
	text-align: center;

}
/*----------------------------- Main ----------------------------------------*/

*
{
	box-sizing: border-box;
	user-select: none;
	font-family: DIN alternate;
	/* font-family: futura; */
	/* font-family: krungthep; */
}

html, body 
{
    margin: 0;
}

.bg
{
	background-image: url(../img/space_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}
/*----------------------------- Earth Button ----------------------------------------*/

.earthButton
{
	position: absolute;
	left: 20%;
	top: 200px;
}

.health-bar 
{
	height: 20px;
	width: 400px;
	border: 4px solid black;
	margin: 0 auto;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
}
  
.health 
{
	height: 100%; 
	background: green;
	width: 100%; /* Starts full */
	transition: width 0.2s;
}

.health-text
{
	position: absolute;
	text-align: center;
	display: block;
	bottom: -20px;
	left: 45%;
	color: white;
}

/*----------------------------- Main Generator ----------------------------------------*/

.generator.locked
{
	background-color: transparent;
}

.generator:not(.locked):hover 
{
    box-shadow: 0 0 10px 2px var(--lochmara-color);
    border-color: var(--lochmara-color);
}

.generator-container
{
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* align-items: flex-start; */
	width: 300px;
	height: 100px;
	top: 10%;
	right: 20%;
	position: absolute;
}


.generator 
{
	margin: 10px;
    padding: 5px 10px;
	width: 280px;
	height: 80px;
    background-color: var(--midnight-color);
	box-shadow: 0 0 15px var(--midnight-color);
    color: white;
    border-radius: 4px;
    font-size: 14px;
	border: solid 4px black;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}


.generator.locked:hover 
{
	border: solid 4px var(--amaranth);
	box-shadow: 0 0 10px 2px var(--amaranth);
}

#currency
{
	margin: 10px;
	font-size: 2em;
	height: 50px;
	text-align: center;
	color: azure;
}

#title
{
	font-size: 2.5em;
	color: white;
	text-align: center;
	border: solid 4px black;
}

#prodRate
{
	color: white;
	text-align: center;
	font-size: 0.8em;
}
/*----------------------------- Inventory Menu ----------------------------------------*/

.inventoryContainer
{
	display: flex;
	position: absolute;
	flex-direction: column;

	width: 200px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.442);
	border-left: solid 4px var(--midnight-color);
	right: 0;
}

.inventoryTitle
{
	height: 50px;
	border: solid 2px var(--midnight-color);
	background-color: black;
	color: var(--lochmara-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
}

.ressourceType
{
	color: white;
	text-align: center;
	font-size: 30px;
	border: 2px solid var(--midnight-color);
	box-shadow: 0 0 10px 1px var(--midnight-color);
	background-color: black;
	margin-top: 25px;
	width: 100%;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.ressource
{
	color: white;
	border: 2px solid var(--midnight-color);
	box-shadow: 0 0 10px 1px var(--midnight-color);
	background-color: black;
	margin-top: 5px;
	width: 150px;
}

/*----------------------------- Navigation Menu ----------------------------------------*/

.button.active
{
	box-shadow: 0 0 10px 2px var(--amaranth);
	width: 192px;
	color: var(--amaranth);
	border: 2px solid var(--amaranth);
}

.button
{
	border: 2px solid var(--midnight-color);
	box-shadow: 0 0 10px 1px var(--midnight-color);
	background-color: black;
	margin-top: 5px;
	width: 150px;
}

#buttonContainer 
{
    display: flex;
	position: absolute;
	flex-direction: column;

	width: 200px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.442);
	border-right: solid 4px var(--midnight-color);
}

.button
{
	color: white;
    padding: 10px 20px; 
    transition: all 0.3s;
}

.button:hover
{
	transform: scale(1.2);
}

.drop
{
	height: 50px;
	border: solid 2px var(--midnight-color);
	background-color: black;
	color: var(--lochmara-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
}

/*----------------------------- Upgrades ----------------------------------------*/

.upgrade-container 
{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 200px;
	top: 100px;
	left: 300px;
}

.earth-upgrade-container 
{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 200px;
	top: 100px;
	left: 600px;
}

.upgrades 
{
	display: flex;
	flex-direction: column;
	height: 460px;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
	overflow: hidden;
	overflow-y: scroll;
}

.upgrades::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
  }

#upgradeBtn
{
	position: center;
	background-color: black;
	text-align: center;
	width: 100%;
	font-size: 20px;
	color: var(--lochmara-color);
	border: solid 4px var(--midnight-color);
	border-radius: 4px;
}

.upgradeButton 
{
	
	display: block;
	padding: 8px 12px;
	margin-top: 4px;
	text-align: center;
	
	/* height: 80px; */
	width: 100%;

	background-color: var(--midnight-color);
	box-shadow: 0 0 15px var(--midnight-color);
	color: white;

	border-radius: 4px;
	border: solid 4px black;

	text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}

.generator:not(.locked):hover 
{
    box-shadow: 0 0 10px 2px var(--lochmara-color);
    border-color: var(--lochmara-color);
}

.upgradeButton.locked
{
	background-color: transparent;
}

.upgradeButton.locked:hover 
{
	border: solid 4px var(--amaranth);
	box-shadow: 0 0 10px 2px var(--amaranth);
}

/*----------------------------- Iron Ores ----------------------------------------*/

.iron-gen-container
{
	width: 300px;
	display: flex;
	position: absolute;
	left: 20%;
	top: 20%;
	color: white;
	text-align: center;
	font-size: 1.2em;
	width: 100px;
}

/*----------------------------- Map ----------------------------------------*/

.planetContainer
{
	position: absolute;
	display: flex;
	right: 300px;
}

.planets
{
	display: flex;
	width: 10%;
	height: auto;
}

/*----------------------------- Options ----------------------------------------*/

.saveContainer
{
	position :absolute;
	display: flex;
	left: 15%;
}

.save 
{
	margin: 10px;
	padding: 5px 10px;
	width: 160px;
	height: 60px;
	background-color: var(--midnight-color);
	box-shadow: 0 0 15px var(--midnight-color);
	color: var(--lochmara-color);
	border-radius: 4px;
	font-size: 18px;
	border: solid 4px black;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;
}

.save:hover
{
	transform: scale(1.1);
	box-shadow: 0 0 10px 2px var(--lochmara-color);
    border-color: var(--lochmara-color);
}
