/*----------------------------- Main ----------------------------------------*/

*
{
	box-sizing: border-box;
	user-select: none;
	font-family: DIN alternate;
	/* font-family: futura; */
	/* font-family: krungthep; */
}

html, body 
{
    margin: 0;
}

.bg
{
	background-image: url(../img/Space_Background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}
/*----------------------------- Earth Button ----------------------------------------*/

.earthButton
{
	position: absolute;
	left: 400px;
	top: 200px;
}

.health-bar 
{
	height: 10px;
	width: 400px;
	border: 1px solid #333;
	margin: 0 auto;
}
  
.health 
{
	height: 100%; 
	background: green;
	width: 100%; /* Starts full */
	transition: width 0.2s;
}

.earthButton.clicked 
{
	color: red;
}

/*----------------------------- Main Generator ----------------------------------------*/

.generator.locked
{
	background-color: transparent;
}

.generator:not(.locked):hover 
{
    box-shadow: 0 0 10px 2px rgba(52, 152, 219, 0.8);
    border-color: blue;
}

.generator-container
{
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	/* align-items: flex-start; */
	width: 300px;
	height: 100px;
	top: 100px;
	left: 1300px;
	position: relative;
}


.generator 
{
	margin: 10px;
    padding: 5px 10px;
	width: 280px;
	height: 65px;
    background-color: #00f7ff46; 
    color: white;
    border-radius: 4px;
    font-size: 14px;
	border: solid 4px black;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
	box-shadow: 0 0 15px #00f7ff94;
}


.generator:not(.locked):hover 
{
    color: #f0f0f0; /* Hover text color */
	border: solid 4px blue;
}

.generator.locked:hover 
{
    color: #f0f0f0; /* Hover text color */
	border: solid 4px rgb(230, 25, 25);
}


#currency
{
	margin: 10px;
	font-size: 2em;
	height: 50px;
	text-align: center;
	color: azure;
}

#title
{
	font-size: 2.5em;
	color: white;
	text-align: center;
	border: solid 4px black;
}

#prodRate
{
	color: white;
	text-align: center;
	font-size: 0.8em;
}

/*----------------------------- Navigation Menu ----------------------------------------*/

.button.active
{
	box-shadow: 0 0 10px 1px blue;
	width: 192px;
	color: red;
}

.button
{
	border: 2px solid darkblue;
	background-color: black;
	margin-top: 5px;
	width: 150px;
}

#buttonContainer 
{
    display: flex;
	position: absolute;
	flex-direction: column;

	width: 200px;
	height: 1020px;
	background-color: black;
	border-right: solid 4px #f0f0f0;
}

.button
{
	color: white;
    padding: 10px 20px; 
    transition: all 0.3s;
}

.button:hover
{
	box-shadow: 0 0 10px 1px rgb(15, 15, 201);
	transform: scale(1.2);
}

.drop
{
	height: 50px;
	border: solid 2px #f0f0f0;
	background-color: black;
	color: aqua;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----------------------------- Upgrades ----------------------------------------*/

.upgrade-container 
{
	position: relative;
	width: 20%;
	top: 800px;
	left: 1300px;
}

.upgrades 
{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.upgradeButton 
{
	display: block;
	padding: 8px 12px;
	margin: 4px;
	text-align: center;
	width: 100%;
}

.upgradeButton:hover 
{
  	background-color: #f0f0f0;
}

.upgradeButton.locked
{
	background-color: transparent;
}

.generator:not(.locked):hover 
{
    box-shadow: 0 0 10px 2px rgba(52, 152, 219, 0.8);
    border-color: blue;
}

/*----------------------------- Iron Ores ----------------------------------------*/

.iron-gen-container
{
	position: relative;
	left: 500px;
	color: white;
	text-align: center;
	font-size: 1.2em;
	width: 100px;
}
