*
{
	box-sizing: border-box;
	user-select: none;
	font-family: DIN alternate;
	/* font-family: futura; */
	/* font-family: krungthep; */
}

html, body 
{
    margin: 0;
}

/* button 
{
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    cursor: pointer;
} */

.generator
{
	border: 2px solid rgb(82, 82, 88);
	background-color: rgba(20, 20, 105, 0.517);
	text-align: center;
	width: 300px;
	padding: 10px;
	margin: 5px;
	font-size: 1.3em;
	cursor: pointer;
	color: white;
	transition: box-shadow 0.3s;
}

.generator.locked
{
	background-color: transparent;
}

.generator:not(.locked):hover 
{
    box-shadow: 0 0 10px 2px rgba(52, 152, 219, 0.8);
    border-color: blue;
}

.bg
{
	background-image: url(../img/Space_Background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

.generator-container
{
	display: flex;
	width: 620px;
	flex-wrap: wrap;
	margin-right: 10px;
	margin-left: 90px;
}

#gen1Name
{
	color: aqua;
}


#currency
{
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 2.4em;
	width: 2000px;
	text-align: center;
	color: azure;
}

#option, #stats, #map, #achieve
{
	color: white;
}

.active
{
	background-color: blue;
	box-shadow: 0 0 10px 1px blue;
}

#optionButton.button, #statsButton.button, #mainbutton.button, #mapButton.button, #achieveButton.button
{
	color: rgb(0, 0, 0);
	border: 2px solid darkblue;
	border-radius: 5px;
}

.upgrade-container
{
	margin-left: 300px;
}

#buttonContainer 
{
    display: flex;
    justify-content: center;
	justify-content: space-between;
}

.button
{
    padding: 10px 20px; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover
{
	box-shadow: 0 0 10px 1px rgb(15, 15, 201);
	transform: scale(1.2);
}
